
__pycache__/

data/test/images/*.png
data/test/labels*.txt

data/train/images/*png
data/train/labels/*txt

data/val/images/*png
data/val/labels/*txt

submit/submit_cnet/*out
submit/submit_cnet/*err

submit/submit_dnet/*out
submit/submit_dnet/*err

submit/submit_cnet/old/
submit/submit_dnet/old/

