
__pycache__/

data/test/images/*.png
data/test/labels*.txt

data/train/images/*png
data/train/labels/*txt

data/val/images/*png
data/val/labels/*txt

data/**

data/raw/**

submit/submit_cnet/*out
submit/submit_cnet/*err

submit/submit_dnet/*out
submit/submit_dnet/*err

submit/submit_cnet/old/
submit/submit_dnet/old/

desktop.ini
legacy
cnet/cnet_dataset_80-10-10-page_full-2019/yolov8n
cnet/cnet_dataset_80-10-10-page_full-2019/yolov8m
cnet/cnet_dataset_80-10-10-page_full-2019/yolov8l
cnet/cnet_dataset_80-10-10-page_full-2019/yolov8x
cnet/cnet_dataset_80-10-10-page_25/yolov8x
cnet/cnet_dataset_80-10-10-page_50/yolov8x
cnet/cnet_dataset_80-10-10-page_100/yolov8x
cnet/cnet_dataset_80-10-10-page_200/yolov8x
cnet/cnet_dataset_80-10-10-page_400/yolov8x
cnet/cnet_dataset_80-10-10-page_800/yolov8x

cnet/cnet_dataset_80-10-10-page_25/yolov8x
cnet/cnet_dataset_80-10-10-page_50/yolov8x
cnet/cnet_dataset_80-10-10-page_100/yolov8x
cnet/cnet_dataset_80-10-10-page_200/yolov8x
cnet/cnet_dataset_80-10-10-page_400/yolov8x
cnet/cnet_dataset_80-10-10-page_800/yolov8x

dnet/dnet_dataset_80-10-10-page_full-2019/yolov8n
dnet/dnet_dataset_80-10-10-page_full-2019/yolov8m
dnet/dnet_dataset_80-10-10-page_full-2019/yolov8l
dnet/dnet_dataset_80-10-10-page_full-2019/yolov8x
dnet/dnet_dataset_80-10-10-page_25/yolov8x
dnet/dnet_dataset_80-10-10-page_50/yolov8x
dnet/dnet_dataset_80-10-10-page_100/yolov8x
dnet/dnet_dataset_80-10-10-page_200/yolov8x
dnet/dnet_dataset_80-10-10-page_400/yolov8x
dnet/dnet_dataset_80-10-10-page_800/yolov8x



dnet/dnet_dataset_80-10-10-page_25/yolov8x
dnet/dnet_dataset_80-10-10-page_50/yolov8x
dnet/dnet_dataset_80-10-10-page_100/yolov8x
dnet/dnet_dataset_80-10-10-page_200/yolov8x
dnet/dnet_dataset_80-10-10-page_400/yolov8x
dnet/dnet_dataset_80-10-10-page_800/yolov8x

yolov8n.pt
yolov8m.pt
yolov8l.pt
yolov8x.pt


exit()

cnet/yolov8n
cnet/yolov8n.pt

dnet/yolov8n
dnet/yolov8n.pt

